<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/exchange-rate">
      <img src="/web/assets/images/logo.png" alt="WebGia.com" width="30" height="30" class="d-inline-block align-text-top">
      <span>WebGia.com</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/exchange-rate" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tỷ giá ngân hàng
          </a>
          <ul class="dropdown-menu">
            <% banks.forEach(function(bank) { %>
              <li><a class="dropdown-item bank-icon" href= "/exchange-rate/<%= bank.id %>" title="Tỷ giá <%= bank.name %>">
                <span class="bak-icon bi-<%= bank.name_lowercase %>" ></span>
                <span><%= bank.name %></span>
              </a></li>
            <% }); %>
          </ul>                
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ngoại tệ  
          </a>
          <ul class="dropdown-menu">
            <% currencies.forEach(function(currency) { %>
              <li><a class="dropdown-item currency-icon" href="/currency/<%= currency.code %>" title="Tỷ giá ngoại tệ <%= currency.name %>">
                <span class="cur-icon ci-<%= currency.code_lowercase %>"></span>
                <span><%= currency.code %></span>
              </a></li>
            <% }); %>
          </ul>   
        </li>
      </ul>
      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

