<div class="card">
  <div class="card-body">
    <h5 class="card-title">Tỷ giá ngoại tệ</h5>
    <table class="table table-hover table-bordered">
      <thead class="table">
        <tr>
          <th scope="col">Ngân hàng </th>
          <th scope="col">Tên đầy đủ</th>
          <th scope="col">Thời gian cập nhật</th>
        </tr>
      </thead>
      <tbody>
        <% banks.forEach(function(bank) { %> 
        <tr>
          <th scope="row">
            <a href="/exchange-rate/<%= bank.id %>" class="bank-icon" title="Tỷ giá ngân hàng <%= bank.fullname %>">
              <span class="bak-icon bi-<%= bank.name_lowercase %>"></span>
              <span><%= bank.name %></span>
            </a>
          </th>
          <td><%= bank.fullname %></td>
          <td><%= bank.last_updated %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<div class="card pg-3 p-3" style="height: 450px">
  <div class="card-header bg-white">
      <h5 class="mb-0">$ Tỷ giá Vietcombank</h5>
  </div>
  <div class="table-responsive">
      <table class="table table-hover mb-0">
          <thead>
              <tr>
                  <th class="text-brown">Ngoại tệ</th>
                  <th class="text-brown">Mua vào</th>
                  <th class="text-brown">Bán ra</th>
              </tr>
          </thead>
          <tbody>
            <% exchangeRateVietcombank.forEach(function(item) { %>
              <tr>
                  <td><a href="/currency/<%= item.currency.code.slice(0, 3) %>" title="Tỷ giá <%= item.currency.code %>"><%= item.currency.code %></a></td>
                  <td><%= item.buy_cash_price %></td>
                  <td><%= item.sell_cash_price %></td>
              </tr>
            <% }); %>
          </tbody>
      </table>
  </div>
  <div class="card-footer text-muted text-center">
      <small>Cập nhật lúc <%= dateUpdate %></small><br>
      <small><a href="/exchange-rate/37" class="text-primary text-decoration-none">Xem bảng tỷ giá hối đoái vietcombank.com </a></small>
  </div>
</div>
