<div class="card">
  <div class="card-body">
    <h5 class="card-title">Tỷ giá ngoại tệ <%= bank.name %> mới nhất ngày hôm nay</h5>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Ngoại tệ </th>
          <th scope="col">Tên ngoại tệ </th>
          <th scope="col">Mua tiền mặt</th>
          <th scope="col">Mua chuyển khoản</th>
          <th scope="col">Bán tiền mặt</th>
        </tr>
      </thead>
      <tbody>
        <% exchangeRates.forEach(function(item) { %>
        <tr>
          <th scope="row"><a href="/currency/<%= item.currency.code.slice(0, 3) %>" class="currency-icon" title="Tỷ giá <%= item.currency.code %>" >
            <span class="cur-icon ci-<%= item.currency.code_lowercase %>"></span>
            <span><%= item.currency.code %></span>
          </a></th>
          <td><%= item.currency.name %></td>
          <td><%= item.buy_cash_price %></td>
          <td><%= item.buy_transfer_price %></td>
          <td><%= item.sell_cash_price %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>